@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #fff;
}

body {
  --success: "#06715a";
  --warning: "#f60";
  --info: "#02a9ff";
  --primary: "#5b58fb";
  --error: "#d03a52";
  
  
  background: #111117;  
}
